@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: white;
}

/** {
  @apply font-sans;
}*/

h1,
.title-l {
  font-size: 38px;
  line-height: 36px;
  font-weight: 900;
}

h2,
.title-m {
  font-size: 32px;
  line-height: 30px;
  font-weight: 900;
}

h3,
.title-s {
  font-size: 24px;
  line-height: 22px;
  font-weight: 900;
}

h4,
.subtitle-l {
  font-size: 22px;
  line-height: 20px;
  font-weight: 900;
}

h5,
.subtitle-m {
  font-size: 14px;
  line-height: 18px;
  font-weight: 900;
}

h6,
.subtitle-s {
  font-size: 12px;
  line-height: 14px;
  font-weight: 900;
}

.text-l {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.text-m {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.text-s {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.callout {
  font-size: 12px;
  line-height: 14px;
  font-weight: 900;
}

@screen lg {

  h1,
  .title-l {
    font-size: 64px;
    line-height: 70px;
    font-weight: 900;
  }

  h2,
  .title-m {
    font-size: 48px;
    line-height: 52px;
    font-weight: 900;
  }

  h3,
  .title-s {
    font-size: 36px;
    line-height: 52px;
    font-weight: 900;
  }

  h4,
  .subtitle-l {
    font-size: 24px;
    line-height: 24px;
    font-weight: 900;
  }

  h5,
  .subtitle-m {
    font-size: 18px;
    line-height: 22px;
    font-weight: 900;
  }

  h6,
  .subtitle-s {
    font-size: 14px;
    line-height: 16px;
    font-weight: 900;
  }

  .text-l {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
  }

  .text-m {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .text-s {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }

  .callout {
    font-size: 12px;
    line-height: 14px;
    font-weight: 900;
  }
}