@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: white;
}

h1,
.title-l {
  font-family: "Roboto Serif", serif;
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 500;
}

h2,
.title-m {
  font-family: "Roboto Serif", serif;
  font-size: 28px;
  line-height: 33.6px;
  font-weight: 500;
}

h3,
.title-s {
  font-family: "Roboto Serif", serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
}

h4,
.subtitle-l {
  font-family: "Roboto Serif", serif;
  font-size: 23px;
  line-height: 27.6px;
  font-weight: 500;
}

h5,
.subtitle-m {
  font-family: "Roboto Serif", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

p,
.paragraph {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

label {
  font-family: "Roboto Flex", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.price-tag {
  font-family: "Roboto Flex", sans-serif;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
}

input[type="text"] {
  font-family: "Roboto Flex", sans-serif;
}
